/*All Common Css Start From here*/
 body{ margin:0px; padding:0px; background-color:#53aee3;}
 html{overflow-y:scroll;}
.floatLeft{float:left;}
.floatRight{float:right;}
.clearBoth{clear:both;}
.fso{ font-size:0px;}
img{border:0px none;}
.fwBold{ font-weight:bold;}
/*All Common Css Start From here*/
.wid100per{ width:100%; float:left;}
.wid1000{ width:1000px; margin:auto; clear:both;}
.wid1000_body{ width:1000px; float:left; height:600px;}
.body_margin{ margin-top:65px;}


/*leftBlock css Start From here*/
.wid500_left{ width:498px; border:1px solid #6d6d6d; background-color:#ffffff; border-bottom:0px none; border-top:0px none; float:left;}
.lh15{ height:15px; line-height:15px; clear:both; font-size:0px;}
.marginBoth{margin:0px 9px 0px 9px;}
.search_text{ font-family:"Trebuchet MS", Arial, helvetica; font-size:11px; color:#767676; font-weight:bold;  margin-right:16px; line-height:13px;}
.wid16{ width:16px; float:left;}
.search_input_bg{width:478px; float:left; height:27px; border:1px solid #d9d9d9;}
.input_wid465{ width:465px; font-family:"Trebuchet MS", Arial, helvetica; font-size:12px; color:#767676; padding-left:8px; margin-top:4px; *margin-top:2px; outline:none; background-color:transparent; border:0px none; word-wrap:break-word;}
.search_input_arrow{ background-image:url(/images/default/newsfeed_icon.gif);  background-repeat:no-repeat; width:13px; height:8px; background-position:-37px 0px; margin:-8px 0px 0px 30px; position:absolute; *margin:-8px 0px 0px -446px;}
.wid480{ width:480px; float:left;}
.lh8{height:8px; line-height:8px; clear:both; font-size:0px;}
.lh30{ height:30px; line-height:30px; clear:both; font-size:0px;}
.wid48{ width:48px; float:left;}
.wid10{ width:10px; float:left;}
.lh25{height:25px; line-height:25px; clear:both; font-size:0px;}
.lh5{height:5px; line-height:5px; clear:both; font-size:0px;}
.search_city_text{color:#999999; font-family:"Trebuchet MS", Arial, helvetica; font-size:11px;}
.lh10{ height:10px; line-height:10px; clear:both; font-size:0px;}
.wid420{ width:420px; float:left; word-wrap:break-word;}
.wid390{ width:390px; float:left; word-wrap:break-word;}
.wid310{ width:310px; float:left; word-wrap:break-word;}
.suggestions_username{color:#393939; font-family:"Trebuchet MS", Arial, helvetica; font-size:13px; word-wrap:break-word;}
.suggestions_city{color:#999999; font-family:"Trebuchet MS", Arial, helvetica; font-size:11px;}
.suggestions_close{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; width:6px; height:6px; background-position:-144px 0px; display:block; float:left; margin:6px 0px 0px 0px; cursor:pointer; }
.suggestions_desc{color:#767676; font-size:12px; font-family:"Trebuchet MS", Arial, helvetica; word-wrap:break-word;}
.suggestions_undelrine{ height:1px; line-height:1px; clear:both; font-size:0px; background-color:#eaeaea;}
.lh20{height:20px; line-height:20px; clear:both; font-size:0px;}
.suggestions_hoverbg{ background-color:#f5f5f5; cursor:pointer;}
.wid498{width:498px; float:left;}
.wid9{ width:9px; float:left;}
.wid77{width:77px; float:left; text-align:right;}
.wid15{ width:15px; float:left;}
.followed_text{color:#767676; font-size:11px; font-family:"Trebuchet MS", Arial, helvetica;}
.followed_text_onhover{color:#393939; font-size:11px; font-family:"Trebuchet MS", Arial, helvetica;}
.suggestions_hoverarrow{ background-image:url(/images/default/hover_arrow.gif); background-repeat:no-repeat; width:16px; height:29px; display:block; position:absolute; margin:40px 0px 0px 483px;}
.suggestions_hoverarrow{display:none;}
.wid385{width:385px; float:left;}
.deal_desc{color:#767676; font-size:12px; font-family:"Trebuchet MS", Arial, helvetica;  word-wrap:break-word;}
.deal_desc_hover{color:#393939; font-size:12px; font-family:"Trebuchet MS", Arial, helvetica;  word-wrap:break-word;}
.dealCounter_hover{color:#393939; font-size:11px; font-family:"Trebuchet MS", Arial, helvetica;  word-wrap:break-word;}
/*leftBlock css Ends here*/

/*Left Menu Start From here*/
.leftmenu_bg{ background-image:url(/images/default/left_menubg.gif); background-repeat:no-repeat; width:500px; height:85px;}
.tabmenu ul{ margin:0px; padding:0px; margin-left:20px;}
.tabmenu ul li{ margin:0px; padding:0px; list-style-type:none; display:inline;}
.tabmenu ul li a:focus{outline:none; border:0px none;}
.tabmenu ul li a{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#dfdfdf; font-size:12px; text-decoration:none; text-transform:uppercase; float:left; cursor:pointer; margin-right:5px;}
.tabmenu ul li a:hover{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#ffffff; font-size:12px; text-decoration:none; text-transform:uppercase; float:left; cursor:pointer;}
.tabmenu ul li a:hover.current{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#dfdfdf; font-size:12px; text-decoration:none; text-transform:uppercase; float:left; cursor:pointer;}
.tabmenu li a.current,.tabmenu ul li a:hover{background:url(/images/default/newsfeed_menu.gif) no-repeat top right; color:#ffffff;}
.tabmenu li a.current span,.tabmenu ul li a:hover span{background:url(/images/default/newsfeed_menu.gif) no-repeat top left; color:#ffffff;}
.tabmenu ul li a span{ padding:9px 0px 10px 17px; margin:0px 16px 0px 0px; position:relative; float:left;}
/*Left Menu Ends here*/

/*RightBlock css Start From here*/
.wid500_fixed{ float:left; width:499px; background-color:#FFFFFF; border-right:1px solid #6d6d6d; border-bottom:1px solid #6d6d6d; }
.wid500_right{ float:left; width:499px; background-color:#dff2fd; border-right:1px solid #1c76ad;}
.wid480_right{ width:480px; float:right;}
.wid500_right{ float:left; width:499px; background-color:#dff2fd; border-right:1px solid #1c76ad;}
.right_top_menu{float:left; width:195px;}
.right_top_menu ul{ margin:0px; padding:0px;}
.right_top_menu ul li{ margin:0px; padding:0px; list-style-type:none; height:26px; *height:auto; line-height:26px;  font-size:12px; color:#606060; font-family:"Trebuchet MS", Arial, helvetica; border-bottom:1px solid #9ccbe7;}
.right_top_menu ul li:last-child{ margin:0px; padding:0px; list-style-type:none; height:26px; *height:auto; line-height:26px;  font-size:12px; color:#606060; font-family:"Trebuchet MS", Arial, helvetica; border-bottom:0px none;}
.right_top_menu .itemcart_icon{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; width:13px; height:11px; background-position:-72px 0px; display:block;  margin-right:9px; float:left; margin-top:7px;}
.right_top_menu ul li .wid76{  width:76px; float:right; text-align:right;}
.right_top_menu ul li a{ margin:0px; padding:0px; list-style-type:none; font-size:12px; color:#606060; font-family:"Trebuchet MS", Arial, helvetica; text-decoration:none; cursor:pointer;}
.right_top_menu ul li a.current{ margin:0px; padding:0px; list-style-type:none; font-size:12px; color:#333333; font-family:"Trebuchet MS", Arial, helvetica; text-decoration:none; cursor:default; font-weight:bold;}
.right_top_menu .notification_icon{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; width:13px; height:11px; background-position:-87px 0px; display:block;  margin-right:9px; float:left; margin-top:7px;}
.right_top_menu .message_icon{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; width:14px; height:11px; background-position:-102px 0px; display:block;  margin-right:8px; float:left; margin-top:7px;}
.wid48{ width:48px; float:left;}
.right_top_menu .dashboard_icon{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; width:14px; height:11px; background-position:0px -15px; display:block;  margin-right:8px; float:left; margin-top:7px;}
.right_top_menu .setting_icon{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; width:9px; height:11px; background-position:-18px -15px; display:block;  margin-right:10px; margin-left:3px; float:left; margin-top:7px;}
.right_top_menu .logout_icon{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; width:9px; height:11px; background-position:-30px -15px; display:block;  margin-right:10px; float:left; margin-top:7px; margin-left:3px;}
.lh40{height:40px; line-height:40px; clear:both; font-size:0px;}
.network_stats{color:#4c74a2; font-family:"Trebuchet MS", Arial, helvetica; font-size:13px; font-weight:bold;}
.network_stats_underline{ height:1px; line-height:1px; clear:both; font-size:0px; background-color:#bfdff1;}
.connection_heading{color:#393939; font-family:"Trebuchet MS", Arial, helvetica; font-size:13px; color:#393939;}
.connection_text{color:#393939; font-family:"Trebuchet MS", Arial, helvetica; font-size:12px; color:#393939;}
.orderlist ol{margin:0px; padding:0px; margin-left:55px;}
.orderlist ol li{ font-family:"Trebuchet MS", Arial, helvetica; font-size:12px; color:#393939; font-weight:normal;}
.lh2{height:2px; line-height:2px; clear:both; font-size:0px;}
.marginright5{margin-right:5px;}
.lh40{height:40px; clear:both; line-height:40px; font-size:0px;}
#rightPopupBox { width:459px; }
#rightPopupBox .rightBoxTop{ clear:both; background-image:url(/images/default/right_popup_box_top.png); width:459px; height:8px; }
#rightPopupBox .rightBoxBottom{ clear:both; background-image:url(/images/default/right_popup_box_bottom.png); width:459px; height:8px; }
#rightPopupBox .clearBoth{ clear:both; }
#rightPopupBox .boxBg{ clear:both; background-color:#bfdff1;}
#rightPopupBox .wid440{ width:440px; margin:auto; padding:10px 0px; }
#rightPopupBox .bgLine{ clear:both; margin-top:3px; background-color:#dff2fd; height:1px; line-height:1px; font-size:0px;}
#rightPopupBox .popupHeading{ font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#4c74a2; }
#rightPopupBox .floatLeft{ float:left; }
#rightPopupBox .formLeft{ font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; color:#393939; font-weight:bold; }
#rightPopupBox .formLeftOne{ font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; color:#393939; font-weight:normal; }
#rightPopupBox a.formLeft{ font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; color:#393939; font-weight:bold; text-decoration:none; }
#rightPopupBox a:hover.formLeft{ font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; color:#393939; font-weight:bold; text-decoration:underline; }
#rightPopupBox .inputDetail{width:366px; height:20px; border:1px solid #b6b6b6; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#393939; outline:none;}
#rightPopupBox .textareaDetail{width:366px; height:62px; border:1px solid #b6b6b6; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#393939; outline:none; overflow:hidden;}
#rightPopupBox .padTop{padding-top:10px;}
#rightPopupBox .optional{font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:10px; color:#393939;}
#rightPopupBox .invite_btn{ background-image:url(/images/default/send_invite_btn.gif); width:93px; height:24px; border:0px none; cursor:pointer;  }
#rightPopupBox a.see{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#2b588c; text-decoration:underline;}
#rightPopupBox a:hover.see{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#2b588c; text-decoration:none;}
#rightPopupBox .textInside{font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#628294;}
.lh35{ height:35px; line-height:35px; clear:both; font-size:0px;}
.people_bullet{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; background-position:-119px 0px; width:3px; height:3px; display:block; float:left; margin:7px 7px 0px 9px;}
.ctn_count_bgleft{background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; background-position:-93px -13px; width:12px; height:31px; float:left; display:block;}
.ctn_count_bgmiddle{ background-color:#767676; float:left; height:31px; line-height:31px; font-family:"Trebuchet MS", Arial, helvetica; font-size:20px; font-weight:bold;color:#ffffff; padding:0px 5px 0px 5px;}
.ctn_count_bgright{background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; background-position:-106px -13px; width:6px; height:31px; float:left; display:block; margin-right:17px;}
a:focus{outline:none; border:0px none;}
 a.clear_link{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#2b588c; text-decoration:underline; margin-right:21px;}
 a:hover.clear_link{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#2b588c; text-decoration:none;}
 .recently_username{ font-family:"Trebuchet MS", Arial, helvetica; font-size:11px; color:#393939; font-weight:bold;}
 .wid150{width:150px; float:left;}
 .height24_link{ height:24px; line-height:24px;  background-color:#eeeeee; clear:both;}
 a.view_detail_link{font-family:"Trebuchet MS", Arial, helvetica; font-size:11px; font-weight:normal; color:#767676; text-decoration:underline; cursor:pointer;}
 a.view_detail_link span{font-family:"Trebuchet MS", Arial, helvetica; font-size:11px; font-weight:normal; color:#767676; text-decoration:underline; cursor:pointer;}
 a:hover.view_detail_link{font-family:"Trebuchet MS", Arial, helvetica; font-size:11px; font-weight:normal; color:#767676; text-decoration:none;}
  a:hover.view_detail_link span{font-family:"Trebuchet MS", Arial, helvetica; font-size:11px; font-weight:normal; color:#767676; text-decoration:none;}
  
.close_icon{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; background-position:-56px -17px; width:7px; height:6px; display:block; float:left; margin:10px 15px 0px 3px;}
.wid480_Auto{ width:469px; float:left; margin-left:20px; }
.wid411{ width:411px; float:left; word-wrap:break-word;}
.suggestions_carticon{background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; width:19px; height:12px; background-position:-51px 0px; display:block;  margin-right:5px; float:left;}
.user_posted{ font-family:"Trebuchet MS", Arial, helvetica; font-size:13px; color:#393939; line-height:12px; word-wrap:break-word;}
.user_posted_hover{ font-family:"Trebuchet MS", Arial, helvetica; font-size:13px; color:#4c74a2; line-height:12px; word-wrap:break-word;}
.dotted_line{ background-image:url(/images/default/dotted.gif); width:100%; height:1px; background-repeat:repeat-x; clear:both;}
/*RightBlock css Ends here*/

/*Tool tip Css Start From here*/
.tooltip_main{ display:none; position:absolute; margin:-30px 0px 0px 0px;}
.tooltip_left{width:4px; float:left;}
.tooltip_arrow{clear:both; width:12px; height:7px; margin-left:12px;}
.tooltip_middle{float:left; background-color:#515151; height:24px; color:#FFF; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight:bold; font-size:11px; line-height:24px; padding:0px 4px 0px 4px;}
/*Tool tip Css Ends here*/

/*Pop Up Css*/
.suggestions_fixedblock{display:none;}
.wid56{ width:56px; float:left; }
a.profileLink{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; text-decoration:none; color:#4c74a2; }
a:hover.profileLink{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; text-decoration:underline; color:#4c74a2; }
.proDetail{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#999999; font-weight:normal; }
.proDetail_hover{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#767676; font-weight:normal; }
.proDetails{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; font-style:italic; color:#767676; }
.contactByPhone{ float:left; width:19px; height:18px; background-color:#e5e5e5; margin-right:7px; }
a.contactPhone{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; width:7px; height:11px; background-position:-119px -90px; display:block; text-decoration:none; margin-top:3px;}
.wid7{ width:7px; float:left;}
.stats{ width:56px; float:left; border-right:1px solid #cacaca; text-align:right;}
.statsText{ margin-right:6px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#767676; }
.statsCounter{margin-right:6px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:15px; font-weight:bold; color:#393939; }
.wid29{ width:29px; float:left; }
.padTop16{padding-top:16px;}
.recommendation_icon{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; width:12px; height:14px; background-position:-114px -74px; margin-right:5px; float:left; }
.recent_heading{font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#393939;}
.lh37{ height:37px; line-height:37px; clear:both; font-size:0px; } 
/* pop up Css Ends here*/
a.followDiff{ background-image:url(/images/default/following_btn.gif); width:77px; height:18px; display:block; text-decoration:none; }
a:hover.followDiff{ background-image:url(/images/default/unfollow.gif); width:77px; height:18px; display:block; text-decoration:none; }

.search_popup{display:none; margin-left:9px;}
.search_arrow{ background-image:url(/images/default/newsfeed_icon.gif); background-repeat:no-repeat; background-position:-41px -16px; width:13px; height:7px; display:block; display:block; margin:-7px 0px 0px 31px; *margin:-7px 0px 0px 31px;}
.search_main{ height:75px; width:480px; float:left; background-color:#e8e8e8;}
.wid460_popup{width:460px; margin:auto; clear:both;}
.popup_heading{color:#393939; font-family:"Trebuchet MS", Arial, helvetica; font-size:13px;}
.search_inputbg{ clear:both;  width:456px; height:27px; border:1px solid #848484; background-color:#ffffff;}
.wid460_input{  width:430px; color:#393939; font-family:"Trebuchet MS", Arial, helvetica; font-size:12px; padding-left:5px; overflow:hidden; outline:none; border:0px none; margin-top:3px;}
.search_icon{ margin:5px 0px 0px 0px;}
.cursor_pointer{cursor:pointer;}
#lightbox1{background-color:#000000; opacity:0.4;filter:alpha(opacity=40);}