.password_changed{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; color:#393939; }
.safe_place{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; color:#767676; }
.c_pointer{ cursor:pointer; outline:none; }
input[type="submit"]{
 border:none 0px;
 background-image:url(/images/secure/proceed_account_btn.gif); background-repeat:no-repeat; width:174px; height:22px; cursor:pointer;
}



