html{ overflow-y:scroll;}
body{ margin:0px; padding:0px;}
a img{ border:0px;}
.clearBoth{ clear:both;}
.floatLeft{ float:left;}
.floatRight{ float:right;}
.cursor{ cursor:pointer;}
input[type="image"]{ cursor:pointer;}

/*=============== RIGHT PANEL START FROM HERE========================*/
.editEmailRightPanel{ width:260px; float:left; }
.editEmailRightPanel ul{  margin:0px; padding:0px;}
.editEmailRightPanel ul li{  margin:0px; padding:0px 0 0 19px; height:30px; list-style-type:none; line-height:30px; }
.editEmailRightPanel ul li a{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#00538a; font-weight:bold; text-decoration:none; line-height:30px;}
.editEmailRightPanel ul li.selected{ background:#393939; color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;}
.lh25{ height:25px; clear:both; font-size:0px;}
/*=============== RIGHT PANEL ENDS HERE========================*/

/*===================LEFT PANEL STARTS FROM HERE====================*/
.editEmailLeftPanel{ width:715px; padding:0px 0px 0 24px; border-left: #cdcdcd 1px solid; float:left;}
.blueMainHeading{ font-size:18px; font-weight:normal; color:#00538a; font-family:Arial, Helvetica, sans-serif;}
.content_text12{ font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#393939;}
.lh5{ height:5px; line-height:5px; clear:both; font-size:0px;}
.lh10{height:10px; clear:both; font-size:0px; line-height:10px}
a.hyperLinkBlue12{ font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#00538a; font-weight:normal;}
a:hover.hyperLinkBlue12{ text-decoration:none;}
.wid180{ width:180px; float:left;}
.navArrow{ background:url('/images/secure/accountsetting/nav_arrow.png'); width:8px; height:13px; float:left; margin:6px 12px 0 12px;}
.content_text15Lh25{ font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal; color:#393939; line-height:25px; }
a.hyperLinkBlue13{ font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#00538a; font-weight:normal;}
a:hover.hyperLinkBlue13{ text-decoration:none;}
.backArrow{ background:url('/images/secure/accountsetting/left_arrow_icon.png'); width:6px; height:11px; float:left; margin:3px 10px 0 0px;}
.wid139{ width:139px; float:left;}
a.hyperLinkBlue11{ font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#00538a; font-weight:normal;}
a:hover.hyperLinkBlue11{ text-decoration:none;}
.lh15{ height:15px; line-height:15px; clear:both; font-size:0px; }
.lh40{ height:40px; clear:both; font-size:0px; }
.wid160{ width:160px; float:left;}
a.hyperLinkBlue12Lh25{ font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#00538a; font-weight:normal; line-height:25px;}
a:hover.hyperLinkBlue12Lh25{ text-decoration:none;}
.grey_text12{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#767676; font-weight:normal;}
.lh50{ height:50px; clear:both; font-size:0px; }
.wid252{ width:252px; float:left;}
.widemail252{ width:242px; float:left;word-wrap: break-word;padding-right: 10px;}


.wid25{ width:25px; float:left;}
a.hyperLinkBlue12None{ font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#00538a; font-weight:normal; text-decoration:none;}
a:hover.hyperLinkBlue12None{ text-decoration:underline;}
.inputWid153{ width:147px; height:21px; padding:0 0 0 5px; float:left; border:1px solid #848484; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#393939;}
.borderSeprator{ width:348px; border-bottom:1px solid #dedede; clear:both; font-size:0px;	}
.wid68{ width:68px; float:left;}
.inputWid153{ width:147px; height:21px; padding:0 0 0 5px; float:left; border:1px solid #848484; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#393939;}
.grey_text12Lh20{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#767676; font-weight:normal; line-height:20px;}
.content_text12Lh20{ font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#393939; line-height:20px;}
.lh55{ height:55px; clear:both; font-size:0px;}
.lh65{ height:65px; clear:both; font-size:0px;}
.errorMsg{ font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#ff0000; font-weight: normal;}

/*===================LEFT PANEL ENDS HERE====================*/
input.edituseremailButton[type="submit"]{
   background-image:url(/images/secure/accountsetting/save_changes.png); display: block; background-repeat:no-repeat; height:25px; border:0px none; width:104px; cursor:pointer; outline:none;}