.password_changed{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; color:#393939; }
.safe_place{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; color:#767676; }
.c_pointer{ cursor:pointer; outline:none; }
.wid5{ width:5px; float:left; }
.wid255{ width:230px; float:left; }
.input_border{border:0px; width:243px; outline:none;}
.padTop7{padding-top:6px;}
.input_bg{background-image:url(/images/secure/new_pwd_bg.gif); background-repeat:no-repeat; height:31px; line-height:31px; width:255px;}
.floatLeft{ float:left; }
.wid142{ width:142px; float:left; }
.new_pwd{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; color:#393939; }
.clearBoth{ clear:both; }
.lh16{ height:16px; line-height:16px; clear:both; font-size:0px; }
.padTop5{padding-top:5px;}
input[type="submit"]{
 border:none 0px;
 background-image:url(/images/secure/change_btn.gif); background-repeat:no-repeat; width:69px; height:22px; cursor:pointer;
}
.alert{ color:#F00; float:left;}
