html { overflow-y:scroll; }
body { margin:0px; padding:0px; background-color:#f1f1f1; font-family:Tahoma, Geneva, sans-serif; }
input[type="image"]{ cursor:pointer;}
.mainHeader { width:525px; margin:auto; margin-top:100px; }
.clearBoth { clear:both; }
.floatLeft { float:left; }
.floatRight { float:right; }
.topBorder { clear:both; background-image:url(/images/secure/elogin/loginBorder.png); background-repeat:no-repeat; width:525px; height:32px; background-position:0 0; }
.botBorder { clear:both; background-image:url(/images/secure/elogin/loginBorder.png); background-repeat:no-repeat; width:525px; height:32px; background-position:0 -32px; }
.loginBTN { width:280px; margin:auto; }
.botGap { clear:both; height:40px; }
.freetrial { text-align:center; }
.newHere { font-size:15px; }
.newHere { font-size:15px; color:#4f4d4b; }
.startFTrail { margin:5px 0 0 0; }
.startFTrail a{ font-size:12px; color:#4f4d4b; text-decoration:underline; }
.startFTrail a:hover{ text-decoration:underline; color:#e00034; }
input[type=image] { cursor:pointer; }
a img { border:0px none; }
img { border:0px none; }
.lh20{ clear:both; font-size:0px; height:20px;}
.heading{ font:normal 28px Arial, Helvetica, sans-serif;}
.thnksText{ font:normal 15px/28px Arial, Helvetica, sans-serif; color:#4e4d4b; width:442px; text-align:left; margin:20px 0 35px 0; }
.thnksText a{ font:inherit; color:#4e4d4b;}
.thnksText a:hover{ text-decoration:none;}
.wid110{ width:110px; float:left;}
.wid325{ width:325px; float:left;}
.storeURL{width:442px; text-align:left; font:bold 15px Arial, Helvetica, sans-serif; color:#393939;}
.lh40{ clear:both; font-size:0px; height:40px;}

